* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 

.col-header{
    display: inline-block;
} */
/* 
#col1st{
    max-width: 20%;
}

#col2nd{
    max-width: 80%;
    float: right;
} */

.inline {
    display: inline-block;
}

.menu-items {
    box-shadow: inset 0 0 0 0 #c4e0ea;
    color: #010101;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.no-hover {
    box-shadow: inset 0 0 0 0 #c4e0ea;
    color: #010101;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu-items:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

.no-hover:hover{
    box-shadow: none;
    color: #000;
}


